.parogress {
  display: block;
  max-width: 100%;
  max-height: 100%;
  transform: rotate(-90deg);
}

.circle-bg {
  fill: none;
}
.circle {
  fill: none;
}

.percentage {
  font-size: 1.4rem;
  fill: #3ea961;
  transform: rotate(90deg);
  transform-origin: center;
  text-anchor: middle;
}
