/* .table {
  position: relative;
  top: 1.5rem;
  background-color: #fff;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 2rem;
  max-width: 100%;
}
table {
  width: 100%;
  font-size: 1.6rem;
  text-transform: capitalize;
  border-collapse: collapse;
}

.heading {
  background-color: #94b3f7 !important;
  color: #fff;
  width: 100%;
  display: flex;
  text-transform: uppercase;
}
.heading tr {
  width: 100%;
  text-align: end;
}
.heading tr th {
  width: 15rem;
  padding: 1.5rem;
}
.heading tr th:first-child {
  width: 5rem;
}
.heading tr th:nth-child(2) {
  text-align: start;
}
.heading tr th:nth-child(3) {
  text-align: center;
}
.tablebody {
  width: 100%;
  background-color: #fff;
}
.tablebody tr {
  width: 100%;
  display: block;
  text-align: center;
}
.tablebody tr td {
  width: 15rem;
  padding: 2rem 1rem;
}
.tablebody tr td:first-child {
  text-align: center;
  width: 5rem;
}
.tablebody tr:nth-child(odd) {
  background-color: #f5f4f9;
}
.tablebody tr td:nth-child(2) {
  text-align: start;
}
.tablebody tr td:nth-child(3) {
  text-align: center;
}
table input {
  width: 2rem;
  height: 2rem;
  outline: none;
} */
.table {
  position: relative;
  top: 1.5rem;
  background-color: #fff;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 2rem;
  text-transform: capitalize;
  max-width: 100%;
}

table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
}
table input {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

thead {
  background-color: #94b3f6;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
}
thead th {
  padding: 1em 0.5em;
  text-align: end;
}
thead th:first-child {
  text-align: center;
}
thead th:nth-child(2) {
  text-align: start;
}
thead th:nth-child(3) {
  text-align: center;
}
thead th:last-child {
  text-align: center;
}
tbody td {
  font-size: 1.6rem;
  padding: 1.5em 1em;
  white-space: wrap;
  text-align: end;
}

tbody td:first-child {
  text-align: center;
}
tbody td:nth-child(2) {
  text-align: start;
  width: 25rem;
}
tbody td:nth-child(3) {
  text-align: center;
}
tbody tr:nth-child(odd) {
  background-color: #f5f4f9;
}
tbody td:last-child {
  text-align: center;
}
tbody tr {
  transition: all 0.4s;
}
tbody tr:hover {
  cursor: pointer;
  transform: scale(1.01);
  background-color: rgb(130, 156, 204);
}
.span {
  padding: 0.5rem 2rem;
  border-radius: 5rem;
}
.span--main {
  margin-right: 1rem;
  background-color: #f5f5d1;
}
.span--sub {
  background-color: #f9f5ac;
}
