.tab-container {
  margin: 0;
  padding: 0;
  max-height: 3.5rem;
}

ul.tabs {
  margin: 0;
  list-style-type: none;
  line-height: 3.5rem;
  max-height: 5rem;
  overflow: hidden;
  display: inline-block;
  padding-right: 2rem;
}

ul.tabs > li.active {
  z-index: 2;
  background: #fff;
}

ul.tabs > li.active:before {
  border-color: transparent #fff transparent transparent;
}

ul.tabs > li.active:after {
  border-color: transparent transparent transparent #fff;
}

ul.tabs > li {
  float: right;
  margin: 0.5rem -1rem 0;
  border-top-right-radius: 5.5em 20rem;
  border-top-left-radius: 2rem 9rem;
  padding: 0 6rem 0 4.5rem;
  height: 17rem;
  background: #ddd;
  position: relative;
  max-width: 25srem;
}

ul.tabs > li > a {
  font-size: 1.6rem;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #222;
  padding-top: 0.5rem;
  text-transform: uppercase;
}

ul.tabs > li:before,
ul.tabs > li:after {
  content: '';
  background: transparent;
  height: 5rem;
  width: 3rem;
  border-radius: 100%;
  border-width: 1rem;
  top: -9px;
  border-style: solid;
  position: absolute;
}

ul.tabs > li:before {
  border-color: transparent #ddd transparent transparent;
  -webkit-transform: rotate(48deg);
  left: -2.3rem;
}

ul.tabs > li:after {
  border-color: transparent transparent transparent #ddd;
  -webkit-transform: rotate(303deg);
  right: -1.7rem;
}

/* Clear Fix took for HTML 5 Boilerlate*/

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
