.App {
  background-color: #ededed;
  height: 100vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  width: 100%;
}

.tablecontainer {
  display: flex;
  margin-top: 1.5rem;
}
