.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top-right-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}
.card:not(:last-child) {
  margin-right: 1.5rem;
}

.card--title {
  background-color: #f4f3f8;
  color: #889097;
  font-size: 1.6rem;
  text-align: center;
  text-transform: capitalize;
  padding: 0.5em;
}
.card__body {
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.6rem;
  background-color: #fff;
  padding: 0.6em 1em;
}

.card__body--item:not(:last-child) {
  margin-right: 1rem;
}
.card__body--item--title {
  padding-bottom: 1rem;
}

.card__body--item--img {
  display: flex;
  justify-content: center;
}
